<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'Inscription</title>
    <link rel="stylesheet" href="style.css">

</head>

<form action="">
    <h4>INSCRIPTION</h4>
    <hr>
    
    <div class="form-group">
        <div class="name-field">
            <div class="input-group">
                <label>Nom</label>
                <input type="text">
            </div>
            <div class="input-group">
                <label>Prénom</label>
                <input type="text">
            </div>
        </div>

        <div class="input-group">
            <label>Date de Naissance</label>
            <input type="date">
        </div>

        <div class="input-group">
            <label>Sexe</label>
            <div class="radio-group">
                <label>
                    <input type="radio" name="sexe" value="homme"> Homme
                </label>
                <label>
                    <input type="radio" name="sexe" value="femme"> Femme
                </label>
                <label>
                    <input type="radio" name="sexe" value="autre"> Autre
                </label>
            </div>
        </div>

        <div class="input-group">
            <label for="type_membre">Type de membre :</label>
            <select id="type_membre">
                <option value="etudiant">Étudiant(e)</option>
                <option value="passione">Passionné(e)</option>
                <option value="senior">Senior(e)</option>
            </select>
        </div>

        <div class="input-group">
            <label>Adresse Mail</label>
            <input type="email">
        </div>

        <div class="input-group">
            <label>Mot de passe</label>
            <input type="password">
        </div>

        <input type="submit" value="S'inscrire">
        
        <p class="centered-text">Vous avez déjà un compte ? <a href="file:///H:/Downloads/connexion.html">Se connecter</a></p>
    </div>
</form>
