@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #ffffffd4;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.name-field {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.name-field .input-group {
    width: 48%;
}

.radio-group {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

select {
    padding: 8px ;
    appearance: none;
    -webkit-appearance: none;
}

input[type="radio"] {
    margin: 0;
}


h4 {
    text-align: center;
    font-size: 20px;
}

hr {
    margin: 10px 0;
    background-color: #ccc;
    border: 0;
    height: 1px;
    width: 100%;
}



.name-field div {
    display: flex;
    flex-direction: column;
}


label {
    margin-bottom: 6px;
}

input {
    margin-bottom: 5px;
    padding: 5px;
    outline: 0;
    border: 1px solid rgba(0,0,0,0.4);
}

input:focus {
    border: 1px solid #17a2b8;
}

input[type="submit"] {
    margin-top: 15px;
    background-color: #c00c39;
    color: #fff;
    border: 1px solid #17a2b8;
    cursor: pointer;
}


a:hover { 
    text-decoration: underline;
}

.image-link {
    all: unset;
    display: flex;
    width: 100px; /* Définir la largeur du lien, ou ajuster selon tes besoins */
    height: 100px; /* Définir la hauteur de l'image de fond */
}

.background-image {
    width: 100%;
    height: 100%;
    background-image: url('https://dpc.fr/wp-content/uploads/banniere-cdi-cdr.jpg'); /* Remplace par le chemin de ton image */
    background-size: cover; /* Cette option permet à l'image de couvrir tout l'élément */
    background-position: center; /* Centrer l'image dans l'élément */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    cursor: pointer; /* Optionnel, rend l'élément cliquable comme un lien */
}

.image-link:hover .background-image {
    opacity: 0.5; /* Effet au survol, optionnel */
}


/*PAGE DE GARDE*/

.bodyGarde {
    background-color: #ffffff;
    display:block;
}

.headerGarde {
    padding: 60px;
    display:block;
    background: url('https://dpc.fr/wp-content/uploads/banniere-cdi-cdr.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    font-size: 2em;
    position: relative;
}

.navGarde {
    background-color:  #e60050;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.navGarde a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#search-box {
    padding: 10px;
    width: 400px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background: #ccc;
}

#results {
    margin-top: 20px;
    font-size: 18px;
}

.buttonsGarde {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1em;
}

.connect-btn, .signup-btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.connect-btn {
    background-color:  #e60050;
    color: white;
}

.signup-btn {
    background-color:#f90794ea;
    color: white;
}

.contentGarde {
    padding: 20px;
}
