body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    background: url('https://cdn.pixabay.com/photo/2016/07/31/16/24/banner-1559400_1280.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.nav {
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#search-box {
    padding: 10px;
    width: 400px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background: #ccc;
}

#results {
    margin-top: 20px;
    font-size: 18px;
}

.buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1em;
}

.connect-btn, .signup-btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.connect-btn {
    background-color: #7CFC00;
    color: white;
}

.signup-btn {
    background-color: #0047AB;
    color: white;
}

.content {
    padding: 20px;
}
