<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objets Connectés</title>
    <meta name=”author” content=”Groupe 3” />
    <meta name=”description” content=”Projet DevWeb”/>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bodyGarde">
    <div class="headerGarde">
        <h1>Objets Connectées </h1>
    </div>
    <div class="buttonsGarde">
        <a href="/connexion" class="connect-btn">Se Connecter</a>
        <a href="/inscription" class="signup-btn">S’inscrire</a>
    </div>
    <div class="navGarde">
        <a href="agenda.html">Agenda</a>
        <a href="Contact.html">Contact</a>
        <a href="itinéraire.html">Itinéraire</a>
        <a href="/accueil">Accueil</a>
    </div>
</body>
</html>
