<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliotheque Connectée</title>
    <meta name=”author” content=”Groupe 3” />
    <meta name=”description” content=”Projet DevWeb”/>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bodyGarde">
    <div class="headerGarde">
        <h1>Bibliothèque Connectée</h1>
    </div>
    <div class="buttonsGarde">
        <a href="/connexion" class="connect-btn">Se Connecter</a>
        <a href="/inscription" class="signup-btn">S’inscrire</a>
    </div>
    <div class="navGarde">
        <a href="agenda.html">Agenda</a>
        <a href="Contact.html">Contact</a>
        <a href="itinéraire.html">Itinéraire</a>
    </div>
    <div class="contentGarde">
        <div class="search-container">
            <input type="text" id="search-box" placeholder="Rechercher un livre..." onkeyup="search()">
            <div id="results"></div>
            <script>
                function search() {
                    let query = document.getElementById("search-box").value;
                    if (query.length > 0) {
                        fetch("search.php?query=" + query)
                        .then(response => response.text())
                        .then(data => {
                            document.getElementById("results").innerHTML = data;
                        });
                    } else {
                        document.getElementById("results").innerHTML = "";
                    }
                }
            </script>
        </div>
        <h2>À propos de nous</h2>
        <p style="text-indent: 30px;">Bienvenue dans notre bibliothèque, un lieu où la passion pour la lecture et la découverte prend vie. Ici, chaque livre est une porte ouverte vers de nouveaux horizons, chaque page une invitation à explorer, à apprendre et à rêver. Nous vous offrons un accès à une riche collection de livres, de documents et de ressources numériques, soigneusement sélectionnés pour nourrir votre curiosité et enrichir vos connaissances. Naviguez à votre rythme, laissez-vous guider par vos envies et trouvez des trésors littéraires qui sauront éveiller votre imagination. Que vous soyez à la recherche de savoir, de détente ou d’inspiration, notre bibliothèque est un espace où chaque visite est une nouvelle aventure.</p>
    </div>
</body>
</html>
