<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliothèque Connectée - Itinéraire</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body class="bodyGarde">
    <header>
        <div class="headerGarde">
            <h1>Itinéraire</h1>
        </div>
    </header>

    <nav class="navGarde">
        <a href="/accueil">Accueil</a>
        <a href="/agenda">Agenda</a>
        <a href="/contact">Contact</a>
        <a href="/Objets">Objets Connectés</a>
    </nav>

    <h2>Itinéraire</h2>
    <div class="itineraire">
        <h3>Adresse de la bibliothèque</h3>
            
        <div class="adresse">
            <p><strong>CY Bibliothèque universitaire - Site des Cerclades</strong></p>
            <p>Mail des Cerclades</p>
            <p>95000 Cergy</p>
        </div>

        <p>Vous pouvez planifier votre itinéraire depuis CY Tech ou tout autre point de départ en cliquant sur le lien ci-dessous :</p>
            
        <a href="https://www.google.com/maps/dir/CY+Tech,+Avenue+du+Parc,+Cergy/CY+Biblioth%C3%A8que+universitaire+-+Site+des+Cerclades,+Mail+des+Cerclades,+95000+Cergy/@49.036866,2.0697963,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47e6f5265bbc2f79:0x301dd6c7102e1852!2m2!1d2.0697464!2d49.0350546!1m5!1m1!1s0x47e666d9cfccb2b9:0xed21d43690e4ec68!2m2!1d2.08082!2d49.0372083!3e3?hl=fr&entry=ttu&g_ep=EgoyMDI1MDQwMi4xIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" 
            class="map-link" 
            target="_blank">
            Voir l'itinéraire sur Google Maps
        </a>
    </div>
</body>
</html>